@charset "utf-8";
/* CSS Document */


@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*ヘッダー
-----------------------*/

div#header-area{
  border-top:#231815 5px solid;
  width:100%;
  min-width:1000px;
  height:130px;
  margin:0;
  padding:0;
  }


div#header-con{
  width:980px;
  height:100px;
  margin:0 auto;
  padding:0;
  position:relative;
  }

div#header-con h1{margin:0 0; padding:15px 0 0; height:120px;}


/*ヘッダーサブナビ
-------------------------*/

div#hsubnav_con{
  margin:0;
  padding:0;
  width:585px;
  overflow:hidden;
  position:absolute;
  top:30px;
  left:395px;
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}


ul.hcontactnav {
margin:0;
padding:0 0;
width:150px;

display:table;
  float:right;
}
ul.hcontactnav li {
list-style: none;
margin:0 0 5px;
padding:0;
font-size:13px;

width: 150px;/*親メニューの幅*/
font-weight:bold;
background:#fff;/*親メニューの背景色*/
color: #4D4D4D;/*親メニューの文字色*/
text-align:center;
}
ul.hcontactnav li:last-child{
  margin:0;
}

ul.hcontactnav li a {
color: #fff;
display: block;
text-decoration: none;
width:150px;
height:30px;
line-height:30px;
background:#f00013;
}
ul.hcontactnav li a:hover {
color: #fff;
background:#083a75;
}

div#hsnsnav_con{
  margin:0;
  padding:0;
  /*width:380px;
  height:20px;*/
  width:365px;
  height:65px;
  overflow:hidden;
  position:absolute;
  top:30px;
  /*left:460px;*/
  left:520px;
}

/*ヘッダーSNSサブナビ
-------------------------*/

ul.hsnsnav {
margin:0;
padding:0 0;
width:365px;
display:table;
  float:left;

}

ul.hsnsnav li {
list-style: none;
margin:0 10px 0 0;
padding:0;
font-size:12px;
float: left;
width: 65px;/*親メニューの幅*/
text-align:center;
}

ul.hsnsnav li:last-child{
  margin:0;
}

/*ヘッダーメインナビ
-----------------------*/
div.menu{
  margin: 0 auto 20px auto;
  padding:0;
  width:980px;

}

.menu ul{
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
margin:0;
padding:0 0;
width:100%;
max-width:980px;
display:table;

}
.menu ul li {
list-style: none;
margin:0;
padding:0;
font-size:15px;
float: left;
position: relative;
width: 140px;/*親メニューの幅*/
height: 65px;/*親メニューの高さ*/

vertical-align: middle;
background:#fff;/*親メニューの背景色*/
color: #4D4D4D;/*親メニューの文字色*/
text-align:center;
font-weight:600;
box-sizing: border-box;
border-style:solid;
border-width:1px 0 1px 1px;
border-color:#083a75;
}
.menu ul li:first-child{
  border-top-left-radius: 5px;     /* 左上 */
  -webkit-border-top-left-radius: 5px;     /* 左上 */
  -moz-border-radius-topleft: 5px;     /* 左上 */
  border-bottom-left-radius: 5px;     /* 左上 */
  -webkit-border-bottom-left-radius: 5px;     /* 左上 */
  -moz-border-radius-bottomleft: 5px;     /* 左上 */
  }
.menu ul li:last-child{
  border-width:1px;
  border-top-right-radius: 5px;     /* 左上 */
  -webkit-border-top-right-radius: 5px;     /* 左上 */
  -moz-border-radius-topright: 5px;     /* 左上 */
  border-bottom-right-radius: 5px;     /* 左上 */
  -webkit-border-bottom-right-radius: 5px;     /* 左上 */
  -moz-border-radius-bottomright: 5px;     /* 左上 */
  }

.menu ul li span{
  font-size:12px;

  }

.menu ul li a {
color: #083a75;
display: block;
text-decoration: none;
  display: table-cell; vertical-align: middle; height:65px; text-align:center; width:12.5%;
  line-height:1.3em;
}


.menu ul li:hover, .menu ul li a:hover {
background:#083a75;/*ホバー時の親メニューの背景色*/
color:#fff;/*ホバー時の親メニューの文字色*/
}



.menu ul li ul {
position: absolute;
top: 64px;/*親メニューの高さと同じにする*/
left:-1px;
width: 141px;

z-index: 100;
}
.menu ul li ul li {
visibility: hidden;
overflow: hidden;
width: 141px;/*サブメニューの幅*/
height: 0;
background:#083a75;/*サブメニューの背景色*/
box-sizing: border-box;
color:#fff;
font-size:14px;
}

.menu ul li ul li:first-child{
  border-width:1px;
  border-top-left-radius: 0px;     /* 左上 */
  -webkit-border-top-left-radius: 0px;     /* 左上 */
  -moz-border-radius-topleft: 0px;     /* 左上 */
  border-bottom-left-radius: 0px;     /* 左上 */
  -webkit-border-bottom-left-radius: 0px;     /* 左上 */
  -moz-border-radius-bottomleft: 0px;     /* 左上 */
  }
.menu ul li ul li:last-child{
  border-width:0 1px 1px 1px;
  border-top-right-radius: 0px;     /* 左上 */
  -webkit-border-top-right-radius: 0px;     /* 左上 */
  -moz-border-radius-topright: 0px;     /* 左上 */
  border-bottom-right-radius: 0px;     /* 左上 */
  -webkit-border-bottom-right-radius: 0px;     /* 左上 */
  -moz-border-radius-bottomright: 0px;     /* 左上 */
}
.menu ul li ul li a{
  color:#fff;
}

.menu ul li ul li:hover, .menu ul li ul li a:hover {
background:#05254b;/*ホバー時のサブメニューの背景色*/
color:#fff;
}
.menu ul li:hover ul li, .menu ul li a:hover ul li{
visibility: visible;
overflow: visible;
height:65px;/*サブメニューの高さ*/
z-index: 10;


}

.menu ul > li:hover > a {  background: #083a75; color:#fff;} /*サブホバー時*/
.menu ul > li:hover li:hover > a {  background: #2b609f; color:#fff;}/*サブホバー時*/

.menu * {
/*-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;*/
}





/*スケジュール
-------------------------*/
.pageBlock{display:table; width:640px; margin:0 auto 50px auto;}

.pageBlock ul{
  width:640px;
  margin:0 auto;
  padding:0;
}

.pageBlock ul li{
  list-style:none;
  padding:0;
  margin:0 40px 0 0;
  width:300px;
  float:left;
  }


.pageBlock ul li:last-child{
  margin:0;

  }



/*
---------------------------*/

.class-hosoku{
  /*background:url(http://www.primestudio-yl.com/re/wp-content/uploads/2015/12/bg-class-hosoku.jpg) no-repeat;*/
  border:solid #e4e4e4 0;
  padding:0;
  font-family: 'Noto Sans Japanese',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  max-width:800px;
  margin:0 auto;

}


.texts01{display:table; margin: 20px 0 15px;}

.class-hosoku .texts01 h2{
  margin:0;
  text-align:left;
  font-size:;
  background:url(http://www.primestudio-yl.com/re/wp-content/uploads/2015/12/ico-classhosoku.png) no-repeat center left;
  padding:0 0 0 85px;
  height:65px;
  font-size:120%;
  font-weight:500;
  display:table-cell;
  vertical-align:middle;

}

.class-hosoku p.texts02{
  margin:10px 0;
  text-align:center;
  font-size:;
}

.class-hosoku table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0px 1px;

  border-spacing: 5px 8px;
  width:100%;
}

.class-hosoku table th {
  padding: 12px;
  vertical-align: middle;
  text-align: center;
  border: #fff 0px solid;
  font-weight:700;
  width:220px;
  font-size:95%;
  -webkit-border-radius: 6px 0 0 6px;
       -moz-border-radius: 6px 0 0 6px;
         -o-border-radius: 6px 0 0 6px;
            border-radius: 6px 0 0 6px;
}

.class-hosoku table td {
  padding: 12px;
  vertical-align: middle;
  border: #fff 0px solid;
  text-align: left;
  font-size:80%;
  font-weight:600;
   -webkit-border-radius: 0 6px 6px 0;
       -moz-border-radius: 0 6px 6px 0;
         -o-border-radius: 0 6px 6px 0;
            border-radius: 0 6px 6px 0;
}
.class-hosoku table tr:nth-child(odd)  td, .class-hosoku table tr:nth-child(odd) th{background-color:#f099ca;color:#000;}
.class-hosoku table tr:nth-child(even) td, .class-hosoku table tr:nth-child(even) th{background-color:#fff000;color:#000;}




/*
-------------------------------------*/


.studiorental-photo-col{margin:0 0 40px;}

.studiorental-photo-col ul{width:100%; padding:0; margin:0; overflow:hidden;}

.studiorental-photo-col ul li{
	width:310px;
	float:left;
	margin-right:25px;
	padding:0;
	}

.studiorental-photo-col ul li:nth-child(3n){
	margin-right:0;
	}

.studiorental-photo-col ul li figure{
	margin:0;
    padding:0;


    }

.studiorental-photo-col ul li img{
	box-sizing:border-box;
    border:solid #bbb 1px;
	padding:5px;
	width:310px;

	}

.studiorental-photo-col ul li p{margin:0; padding:0; text-align:center;}

.studiorental-photo-col ul li p span{font-weight:bold; color:#073765; font-size:120%; brder-bottom:solid #073765 1px;}

.studiosize-col{margin:0 0 40px;}

.studiosize-col ul{width:100%; display:table;}

.studiosize-col ul li{
	 display:table-cell;
	vertical-align:top;
	}

div.studiorental-fee-col{
	width:980px;
	margin:0 auto 40px auto;
	padding:0;
	display:table;
	padding:0 0 30px 0;
	border-bottom:dotted #555 1px;
	}

div.studiorental-fee-col h3{
	width:130%;
	margin:0 auto 20px auto;
	padding:0 0 0 10px;
	line-height:35px;
	border-left:solid #6bb0d9 5px;
	font-size:105%;
	font-weight:bold;
	}

div.studiorental-fee-col p{
	width:100%;
	margin:0 auto 20px auto;
	padding:0;
	line-height:1;
	font-size:85%;
	}

div.studiorental-fee-col-left{
	width:530px;
	margin:0;
	padding:0;
	float:left;
	}

div.studiorental-fee-col-right{
	width:420px;
	margin:0;
	padding:0;
	float:right;
	}



table.studiorental-fee-tb {
    width:418px;
    border: 1px #cccccc solid;
    border-collapse: collapse;
    border-spacing: 0;
	margin:0 0 10px 0;
	font-size:85%;
}

table.studiorental-fee-tb th {
    padding: 8px;
    border: #cccccc solid;
    border-width: 0 0 1px 1px;
	border-right:solid 1px #ccc;
    background: #f1f1f1;
    font-weight: bold;
    text-align: right;
    width:33%;
    vertical-align: middle;
	font-size:100%;
	color:#231816;
	font-size:14px;
	line-height:1.5;
	font-weight:700;

}
table.studiorental-fee-tb td {
    padding: 8px;
    border: 1px #cccccc solid;
    background: #fff;
    border-width: 0 0 1px 1px;
    text-align: right;
    vertical-align: middle;
	font-size:100%;
	width:33%;
}

p.feetext{font-size:80%; margin:0 0 20px 0;}
